<div class='record-form'>
  <%= form_with(model: source) do |form| %>
    <% if source.errors.any? %>
      <div class='validation'>
        <div class='message'>
          <%= pluralize(source.errors.count, "error") %> prohibited this document from being saved:
        </div>
        <div class='errors'>
          <% source.errors.each do |error| %>
            <div class='error'><span class='bullet'>• </span><%= error.full_message %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class='field'>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class='field'>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div class='field'>
      <%= form.label :author, style: "display: block" %>
      <%= form.text_field :author %>
    </div>
    <div class='field'>
      <%= form.label :text_category, style: "display: block" %>
      <%= form.text_field :text_category %>
    </div>

    <div class='field'>
      <%= form.label :year_published, style: "display: block" %>
      <%= form.number_field :year_published %>
    </div>
    <div class='field'>
      <%= form.label :section_headers, style: "display: block" %>
      <%= form.text_field :section_headers, value: source.section_headers.present? ? source.section_headers.join(', ') : '' %>
    </div>
    <div class='field'>
      <%= form.label :source_url, style: "display: block" %>
      <%= form.text_field :source_url %>
    </div>
    <div class='field'>
      <%= form.label :file %>
      <%= form.file_field :file %>
    </div>

    <% if current_user.admin? %>
      <div class='field'>
        <%= form.label :user_id, style: "display: block" %>
        <%= form.collection_select :user_id, User.all, :id, :email, { selected: action_name == 'new' ? current_user.id : source.user_id  } %>
      </div>
    <% else %>
      <div class='field' style='display: none;'>
        <%= form.label :user_id, style: "display: block" %>
        <%= form.text_field :user_id, value: current_user.id, readonly: cannot?(:manage, User) %>
      </div>
    <% end %>

    <div class='actions'>
      <%= form.submit %>
    </div>
  <% end %>
</div>
