
<div id='source'>
  <div id='source-header'>
    <h3><%= source.name || source.title || "Untitled" %></h3>
    <div id='source-controls'>
      <% if source.source_url.present? %>
        <%= link_to 'Visit source site' %>
        <tr>
          <td class='left'>Source URL:</td>
          <td class='right'><%= trim_string_to_20_chars(source.clean_url) %></td>
        </tr>
      <% end %>
      <% if source.file.attached? %>
        <%= link_to 'Download file', rails_blob_path(source.file, disposition: 'attachment') %>
        <% if false %>
          <tr>
            <td class='left'>File:</td>
            <td class='right'>
              <i class="fa-regular fa-file fa-2xs" style="color: #000000;"></i><%= link_to trim_string_to_20_chars(source.file.filename.to_s), rails_blob_path(source.file, disposition: 'attachment') %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <%= link_to "Edit metadata", edit_source_path(@document.source), data: { turbo_frame: '_top' } %>
    </div>
  </div>
  <% if source.file_extension == 'pdf' %>
    <iframe id='pdf-preview' width='300' height='200' src=<%= rails_blob_url(source.file) %>></iframe>
  <% end %>
  <% if false %>
    <div class='chunks'>
        <% if source.truncated? %>
          <div class='truncation-notice'>
            This source exceeded our text volume limits, and has been truncated.
          </div>
        <% end %>
        <% source.source_chunks.each do |chunk| %>
          <div class='chunk'>
            <details>
              <summary>
                <%= "Chunk #{chunk.ordinal_number + 1}: #{chunk.section_header.strip}" %>
              </summary>
              <p>
                <%= chunk.content %>
              </p>
            </details>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
