<%= turbo_stream_from source.id, 'chunking_status' %>
<div class='view-header'>
  <h1><%= source.name || source.title || "Untitled" %></h1>
  <%= link_to "Edit", edit_source_path(source) %>
</div>
<div class='view-content'>
  <div class='show-record'>
    <%= render source %>
  </div>
  <div class='show-record'>
    <% if source.document_chunks.count > 1 %>
      <% if source.truncated? %>
        <div class='truncation-notice'>
          This source exceeded our text volume limits, and has been truncated.
        </div>
      <% end %>
      <div class='chunks'>
        <h3>Chunks</h3>
        <% source.document_chunks.each do |chunk| %>
          <div class='chunk'>
            <details>
              <summary>
                <%= "Chunk #{chunk.ordinal_number + 1}: #{chunk.section_header.strip}" %>
              </summary>
              <p>
                <%= chunk.content %>
              </p>
            </details>
          </div>
        <% end %>
      </div>
    <% elsif source.document_chunks.count == 1 %>
    <div class='chunk'>
      <p>
        <%= source.document_chunks.first.content %>
      </p>
    </div>
    <% elsif source.document_chunks.count == 0 %>
      <%= turbo_frame_tag 'chunking_status' do %>
        <div class='chunking-status-notice'>
          <div class="lds-hourglass"></div>
          <p><i>processing your source...</i></p>
          <p><i>if you experience a delay of more than a few seconds, </i></p>
          <p><i>try reloading the page<i></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
