<table>
  <tr>
    <td class='left'>Name:</td>
    <td class='right'><%= source.name %></td>
  </tr>
  <tr>
    <td class='left'>Title:</td>
    <td class='right'><%= source.title %></td>
  </tr>
  <tr>
    <td class='left'>Author:</td>
    <td class='right'><%= source.author %></td>
  </tr>
  <tr>
    <td class='left'>Text category:</td>
    <td class='right'><%= source.text_category %></td>
  </tr>
  <tr>
    <td class='left'>Year published:</td>
    <td class='right'><%= source.year_published %></td>
  </tr>
  <tr>
    <td class='left'>Section headers:</td>
    <td class='right'><%= source.section_headers.join(', ') %></td>
  </tr>
  <tr>
    <td class='left'>File:</td>
    <td class='right'>
      <% if source.file.attached? %>
        <%= link_to source.file.filename, rails_blob_path(source.file, disposition: 'attachment') %>
      <% else %>
        None attached
      <% end %>
    </td>
  </tr>
  <% if current_user.admin? %>
    <tr>
      <td class='left'>User:</td>
      <td class='right'><%= source.user.email %></td>
    </tr>
  <% end %>
</table>
<div class='instructions'>
  Providing the above metadata for the source makes it easier for our language model to give contextually relevant answers. 
</div>
