<div class='record-info'>
  <div class='field'>
    <label>Name:</label>
    <%= source.name %>
  </div>
  <div class='field'>
    <label>Title:</label>
    <%= source.title %>
  </div>
  <div class='field'>
    <label>Author:</label>
    <%= source.author %>
  </div>
  <div class='field'>
    <label>Year published:</label>
    <%= source.year_published %>
  </div>
  <div class='field'>
    <label>Section headers:</label>
    <%= source.section_headers.join(', ') %>
  </div>
  <div class='field'>
    <label>File:</label>
    <% if source.file.attached? %>
      <%= link_to source.file.filename, rails_blob_path(source.file, disposition: 'attachment') %>
    <% else %>
      None attached
    <% end %>
  </div>
  <div class='field'>
    <label>User:</label>
    <%= source.user_id %>
  </div>
</div>
