<%= turbo_frame_tag "new_source_modal" do %>
  <div class="modal" style="display: none;" id="new-source-modal">
    <%= form_with(
      model: @source,
      url: create_from_modal_sources_url
    ) do |form| %>

        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>

        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>

        <%= form.label :author, style: "display: block" %>
        <%= form.text_field :author %>
        <%= form.label :text_category, style: "display: block" %>
        <%= form.text_field :text_category %>

        <%= form.label :year_published, style: "display: block" %>
        <%= form.number_field :year_published %>
        <%= form.label :section_headers, style: "display: block" %>
        <%= form.text_field :section_headers, value: @source.section_headers.present? ? @source.section_headers.join(', ') : '' %>
        <%= form.label :file %>
        <%= form.file_field :file %>

          <%= form.label :user_id, style: "display: none" %>
          <%= form.text_field :user_id, value: current_user.id, readonly: cannot?(:manage, User) %>

        <%= form.submit %>
    <% end %>
  </div>

<% end %>
