<% drag_actions = "dragstart->drag#drag_start dragover->drag#drag_over dragenter->drag_enter drop->drag#drop dragend->drag#drag_end" %>
<%= content_tag :tr, id: "document-row-#{document.id}", class: 'draggable', draggable: true, data: {
  controller: 'drag',
  action: drag_actions,
  resource_id: document.id,
  draggable_type: 'document',
  url: drag_document_path
} do %>
  <td onclick='document.getElementById("<%= "document-#{document.id}" %>").click();'>
    <%= link_to wroom_path(document_id: document.id), id: "document-#{document.id}", draggable: false, data: { turbo_frame: '_top' } do %>
      <% if document.source_based %>
        <i class="fa fa-book fa-fw" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
      <% end %>
      <%= document.title %>
    <% end %>
  </td>
  <td onclick='document.getElementById("<%= "document-#{document.id}" %>").click();'><%= document.created_at.strftime("%b %d, %Y %H:%M") %></td>
  <td onclick='document.getElementById("<%= "document-#{document.id}" %>").click();'><%= document.updated_at.strftime("%b %d, %Y %H:%M") %></td>
  <td onclick='document.getElementById("<%= "document-#{document.id}" %>").click();'>
    <%= document.source_based ? "Source" : "Document" %>
  </td>
  <td onclick='document.getElementById("<%= "document-#{document.id}" %>").click();'>
    <%= number_to_human_size(document.source.file_size) if document.source_based && document.source.present? %>
  </td>
  <% if in_query %>
    <td>
      <%= link_to folder_path(document.folder), id: "folder-#{document.folder.id}", draggable: false, data: { turbo_action: 'replace', turbo_frame: '_top' } do %>
        <i class="fa fa-arrow-right-from-bracket fa-fw" style="margin-right: 0.3rem;"></i><%= document.folder.type == 'RootFolder' ? 'My Files' : document.folder.name %>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= link_to 'discard', discard_document_path(document), id: "delete-document-link-#{document.id}", style: 'display:none;'%>
    <i class="fa-solid fa-trash fa-fw delete-icon" onClick="confirmDelete('delete-document-link-<%= document.id %>', '<%= document.title %>')"></i>
  </td>
  <td>
    <%= link_to duplicate_document_path(document) do %>
      <i class="fa-regular fa-clone"></i>
    <% end %>
  </td>
  <td>
    <i class="fa-solid fa-grip-vertical"></i>
  </td>
<% end %>