<%= form_with(model: folder) do |form| %>
  <% if folder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field-with-submit">
    <%= form.text_field :name, placeholder: 'Name your folder', required: true %>
    <%= form.submit 'Confirm' %>
  </div>
  <div style='display: none;'>
    <%= form.text_field :parent_id, value: parent_id, readonly: cannot?(:manage, User) %>
    <%= form.text_field :user_id, value: current_user.id, readonly: cannot?(:manage, User) %>
  </div>
<% end %>
