<div class='tree-folder' id="<%= "tree-folder-#{folder.id}" %>">
  <%= link_to folder_path(folder), data: { turbo_action: 'replace', turbo_frame: 'view_content' } do %>
    <div class="folder" onClick=<%= "displayChildren('tree-folder-#{folder.id}')" %>>
      <i class="fa fa-folder fa-fw"></i><span class='folder-name'><%= folder.type == 'RootFolder' ? 'My Files' : folder.name %></span>
      <% if !folder.empty? %>
        <i class="fa-solid fa-caret-down fa-sm"></i>
      <% end %>
    </div>
  <% end %>
  <div class="children" style="display: none;">
    <% folder.children.order(:name).kept.each do |child_folder| %>
      <%= render 'folders/tree_folder', folder: child_folder %>
    <% end %>
    <% folder.documents.order(:title).kept.each do |document| %>
      <%= render 'folders/tree_document', document: document %>
    <% end %>
  </div>
</div>
