<div class='tree-folder' id="<%= "tree-folder-#{folder.id}" %>">
  <div class="folder">
    <i class="fa-solid fa-caret-down fa-sm fa-fw <%= folder.empty? ? 'invisible' : '' %>" onClick=<%= "displayChildren('tree-folder-#{folder.id}')" %>></i>
    <%= link_to folder_path(folder), data: { turbo_action: 'replace', turbo_frame: 'view_content' } do %>
      <i class="fa fa-folder fa-fw"></i><span class='folder-name'><%= folder.type == 'RootFolder' ? 'My Files' : folder.name %></span>
    <% end %>
  </div>
  <div class="children" style="display: none;" id='children-of-folder-<%= folder.id %>'>
    <% folder.children.order(:name).kept.each do |child_folder| %>
      <%= render 'folders/tree_folder', folder: child_folder %>
    <% end %>
    <% folder.documents.order(:title).kept.each do |document| %>
      <%= render 'folders/tree_document', document: document %>
    <% end %>
  </div>
</div>
