<%= turbo_stream_from conversation.id, 'conversation_status' %>
<div id='conversation'>
  <div id='conversation-settings'>
    <% if @in_document_editor %>
      <%= link_to "✍︎", edit_conversation_path(conversation), id: 'edit-link' %>
    <% else %>
      <div class="conversation-setting left">
        <div id='conversation-setting-header'>
          Voices used:
        </div>
        <% conversation.voices.each do |voice| %>
          <div class='conversation-setting'>
            <span class='bullet'>•</span> <%= link_to voice.name, edit_voice_path(voice) %>
          </div>
        <% end %>
      </div>
      <div class="conversation-setting right">
        <div id='conversation-setting-header'>
          Reference material:
        </div>
        <% conversation.sources.each do |source| %>
          <div class='conversation-setting'>
            <span class='bullet'>•</span> <%= link_to source.title.present? ? source.title : source.name, source %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id='messages'>
    <% if conversation.status == 1 %>
      <%= turbo_frame_tag 'conversation_status' do %>
        <div class='conversation-status'>
          <div class="conversation-hourglass"></div>
          <div class="conversation-loading-label">churning...</div>
        </div>
      <% end %>
    <% end %>
    <% conversation.messages.order(:created_at).reverse.each do |message| %>
      <div class='message <%= message.role %>'>
        <div class='content'>
          <div class='main-message'>
            <%= button_to('␡', delete_message_conversation_path(message_id: message.id, in_document_editor: @in_document_editor), method: :delete) %>
            <div class='main-message-content'>
              <%= simple_format message.content %>
              <% if message.partial_answers.present? %>
                <details>
                  <summary>Partial answers:</summary>
                  <% message.partial_answers.each do |answer| %>
                    <p><%= answer %></p>
                  <% end %>
                </details>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
    </div>
    <%= form_with url: new_user_message_conversation_path(id: conversation.id, in_document_editor: @in_document_editor), id: 'new-message-form'  do |f| %>
      <%= f.text_field (:content) %>
      <%= f.submit '➥', id: 'submit' %>
    <% end %>
    <% if current_user.admin? %>
      <div class="request-counter">
        <p>
          <i>Requests in total:</i> <%= conversation.total_requests %>
        </p>
        <p>
          <i>Requests on last query:</i> <%= conversation.last_query_requests %>
        </p>
      </div>
    <% end %>
</div>