<script>
  function handleEnter(e) {
    const newMessageForm = document.getElementById('new-message-form')
    const submitButton = document.getElementById('new-message-submit')
    const newMessageTextArea = document.getElementById('new-message-text-area')
    if (e.which === 13 && !e.shiftKey) {
      e.preventDefault();
      submitButton.click();
      newMessageTextArea.value = '';
      newMessageTextArea.style.height = '1rem';
    }
  };
  document.getElementById('new-message-text-area').addEventListener('keypress', handleEnter);
</script>
<%= turbo_stream_from @conversation.id, 'chat_messages'%>
<div id='conversation'>
  <script>
    function copyContent(id) {
      const text = document.getElementById(id).innerHTML.replace(/<br>/g, "\n").replace("<p>", "").replace("</p>", "")
      navigator.clipboard.writeText(text)
    }
  </script>
  <div id='messages'>
    <% if conversation.messages.count == 0 %>
      <div id='initial-message'>
        Hello, may I be of any help?
      </div>
    <% end %>
    <% conversation.messages.kept.order(:created_at).reverse.each do |message| %>
      <% if message.role == 'error' && message.content.include?("maximum context length") %>
        <div class='message error'>
          <div class='content'>
            <div class='main-message'>
              <%= button_to('❌', delete_message_conversation_path(message.conversation, message_id: message.id), method: :delete) %>
              <div class='main-message-content'>
                You have exceeded the token limit in this conversation. If you would like to chat further,
                you can remove some messages to make space. If you would like to keep some of the content,
                copy it to your document.
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%= render 'message', message: message %>
      <% end %>
    <% end %>
  </div>
  <%= render 'conversation_status', conversation: conversation %>
  <script>
  if (document.getElementById('new-message-text-area')) {
    const textarea = document.getElementById('new-message-text-area');

    textarea.addEventListener('input', () => {
        textarea.style.height = '1rem';
        textarea.style.height = `${textarea.scrollHeight}px`;
    });
  }
    function submitMessage() {
      document.getElementById('new-message-form').submit();
      document.getElementById('new-message-text-area').value = '';
    }
  </script>
  <%= form_with url: new_message_conversation_path(id: conversation.id), id: 'new-message-form' do |f| %>
    <%= f.text_area :content, required: 'required', id: 'new-message-text-area' %>
    <i class="fa-solid fa-paper-plane" onclick="submitMessage();"></i>
    <%= f.submit '➳', style: 'display: none;', id: 'new-message-submit' %>
  <% end %>
</div>
