<%= turbo_stream_from conversation.id, 'conversation_status' %>
<div id='conversation'>
  <div id='conversation-settings'>
    <% if @in_document_editor %>
      <%= link_to "sources: #{conversation.sources.count}, voices: #{conversation.voices.count}", edit_conversation_path(conversation), id: 'edit-link' %>
    <% else %>
      <div class="conversation-setting left">
        <div id='conversation-setting-header'>
          Voices used:
        </div>
        <% conversation.voices.each do |voice| %>
          <div class='conversation-setting'>
            <span class='bullet'>•</span> <%= link_to voice.name, edit_voice_path(voice) %>
          </div>
        <% end %>
      </div>
      <div class="conversation-setting right">
        <div id='conversation-setting-header'>
          Reference material:
        </div>
        <% conversation.sources.each do |source| %>
          <div class='conversation-setting'>
            <span class='bullet'>•</span> <%= link_to source.title.present? ? source.title : source.name, source %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id='messages'>
    <% if conversation.status == 1 %>
      <%= turbo_frame_tag 'conversation_status' do %>
        <div class='conversation-status'>
          <div class="conversation-hourglass"></div>
          <div class="conversation-loading-label">churning...</div>
        </div>
      <% end %>
    <% end %>
    <% conversation.messages.order(:created_at).reverse.each do |message| %>
      <% if message.role == 'error' && message.content.include?("maximum context length") %>
        <div class='message error'>
          <div class='content'>
            <div class='main-message'>
              <%= button_to('␡', delete_message_conversation_path(message_id: message.id, in_document_editor: @in_document_editor), method: :delete) %>
              <div class='main-message-content'>
                You have exceeded the token limit in this conversation. If you would like to chat further,
                you can remove some messages to make space. If you would like to keep some of the content,
                copy it to your document.
              </div>
            </div>

          </div>
        </div>
      <% else %>
        <div class='message <%= message.role %>'>
          <div class='content'>
            <div class='main-message'>
              <%= button_to('␡', delete_message_conversation_path(message_id: message.id, in_document_editor: @in_document_editor), method: :delete) %>
              <div class='main-message-content'>
                <%= simple_format message.content %>
                <% if message.partial_answers.present? %>
                  <details>
                    <summary>Partial answers:</summary>
                    <% message.partial_answers.each do |answer| %>
                      <%= simple_format answer %>
                    <% end %>
                  </details>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <%= form_with url: new_user_message_conversation_path(id: conversation.id, in_document_editor: @in_document_editor), id: 'new-message-form'  do |f| %>
      <%= f.text_field (:content), required: 'required' %>
      <%= f.submit '➥', id: 'submit' %>
    <% end %>
    <% if current_user.admin? %>
      <div class="request-counter">
        <p>
          <i>Requests in total:</i> <%= conversation.total_requests %>
        </p>
        <p>
          <i>Requests on last query:</i> <%= conversation.last_query_requests %>
        </p>
      </div>
    <% end %>
</div>