<div class='message <%= message.role %>' id='message-<%= message.id %>'>
  <div class='content'>
    <div tabindex="0" class='main-message'>
      <script>
        function copyContent(id) {
          const text = document.getElementById(id).innerHTML.replace(/<br>/g, "\n").replace("<p>", "").replace("</p>", "")
          navigator.clipboard.writeText(text)
        }
      </script>
      <div class='message-controls' id=<%= "message-controls" %>>
        <div class="button-wrapper">
          <button class='copy' onClick=<%= "copyContent('main-answer-#{message.id}');" %>>✂️</button>
        </div>
        <%= button_to('❌', delete_message_conversation_path(message.conversation, message_id: message.id), method: :delete) %>
      </div>
      <div class='main-message-content'>
        <div id=<%= "main-answer-#{message.id}" %>><%= simple_format message.content.gsub("\n", "<br>"), {}, {sanitize: false} %></div>
      </div>
    </div>
    <% if message.partial_answers.present? %>
      <details class='partial-answers'>
        <summary>Alternative answers:</summary>
        <% message.partial_answers.each do |answer| %>
          <div tabindex="0" class="message partial-answer">
            <%= simple_format answer %>
          </div>
        <% end %>
      </details>
    <% end %>
  </div>
</div>