<%= turbo_frame_tag "conversation_frame" do %>
  <%= turbo_stream_from @conversation.id, 'conversation_status' %>
  <div id="chat">
    <div id='settings'>
      <%= link_to 'context', context_conversation_path(@conversation) %>
      <%= link_to "voices", manager_voices_path, data: { turbo_frame: "_top" } %>
      <%= button_to('clear chat', clear_chat_conversation_path(conversation_id: @conversation.id), method: :delete) %>
      <%= form_with(
        model: @conversation,
        url: update_settings_conversation_url
      ) do |form| %>
        <% if @conversation.user.voices.present? %>
          <%= form.label 'voice', style: "display: block" %>
          <%= form.collection_select :voice_id, @conversation.user.voices.order(:name), :id, :name, {include_blank: "Default", selected: @conversation.voice.try(:id)}, onchange: "this.form.submit();" %>
        <% end %>
        <%= form.submit style: 'display:none;' %>
      <% end %>
    </div>
    <%= render 'conversation', conversation: @conversation %>
  </div>
<% end %>
