<%= turbo_frame_tag "conversation_frame" do %>
  <%= turbo_stream_from @conversation.id, 'conversation_status' %>
  <div id="chat">
    <div id='settings'>
      <%= link_to 'Context', context_conversation_path(@conversation) %>
      <%= form_with(
        model: @conversation,
        url: update_settings_conversation_url
      ) do |form| %>
        <% if @conversation.user.voices.kept.present? %>
          <div class='label-wrapper' onClick="openSelect();">
            <i class="fa-solid fa-robot fa-fw" style='margin-right: 0.5rem;'></i>
            <%= form.label 'Persona', style: "display: block" %>
          </div>
          <%= form.collection_select :voice_id, @conversation.user.voices.kept.order(:name), :id, :name, { include_blank: "Default", selected: @conversation.voice.try(:id) }, onchange: "this.form.submit();" do |voice| %>
            <option value="<%= voice.id %>">
              <%= voice.name.length > 15 ? voice.name.slice(0, 15) + '...' : voice.name %>
            </option>
          <% end %>        
        <% end %>
        <%= form.submit style: 'display:none;' %>
      <% end %>
      <%= button_to('Clear chat', clear_chat_conversation_path(conversation_id: @conversation.id), method: :delete) %>
    </div>
    <%= render 'conversation', conversation: @conversation %>
  </div>
<% end %>
