<div class='view-header'>
  <h1>Conversations</h1>
  <%= link_to "+", new_conversation_path %>
</div>
<div class='view-content'>
  <% if current_user.admin? %>
    <div class='index-separator'>My conversations</div class='index-separator'>
  <% end %>
  <ul class="index-list">
    <% current_user.conversations.each do |conversation| %>
      <% if can? :manage, conversation %>
        <li class='index-list-item'>
          <%= link_to conversation.title, conversation %>
          <div class="controls">
            <%= link_to "✍︎", edit_conversation_path(conversation) %>
            <%= button_to "␡", conversation, method: :delete %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if current_user.admin? %>
      <% @users.each do |user| %>
        <div class='index-separator'><%= user.email %></div class='index-separator'>
        <ul class="index-list">
          <% user.conversations.each do |conversation| %>
            <li class='index-list-item'>
              <%= link_to conversation.title, conversation %>
              <div class="controls">
                <%= link_to "✍︎", edit_conversation_path(conversation) %>
                <%= button_to "␡", conversation, method: :delete %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
  <% end %>
  </div>
</div>
