<div id='view-header'>
  <h1>Conversations</h1>
  <%= link_to "+", new_conversation_path %>
</div>
<div class='view-content'>
  <% if current_user.admin? %>
    <div id='index-separator'>My conversations</div id='index-separator'>
  <% end %>
  <div id="index-list">
    <% current_user.conversations.where.missing(:documents).each do |conversation| %>
      <% if can? :manage, conversation %>
        <div id='index-list-item'>
          <%= link_to conversation.title, conversation %>
          <div class="controls">
            <%= link_to "✍︎", edit_conversation_path(conversation) %>
            <%= button_to "␡", conversation, method: :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if current_user.admin? %>
      <% @users.each do |user| %>
        <div id="index-list">
          <div id='index-separator'><%= user.email %></div id='index-separator'>
          <% user.conversations.where.missing(:documents).each do |conversation| %>
            <div id='index-list-item'>
              <%= link_to conversation.title, conversation %>
              <div class="controls">
                <%= link_to "✍︎", edit_conversation_path(conversation) %>
                <%= button_to "␡", conversation, method: :delete %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
