<%= turbo_frame_tag "conversation_settings" do %>
  <div id='conversation-context'>
    <%= form_with(
      model: @conversation,
      url: update_settings_conversation_url
    ) do |form| %>
        <details>
          <summary>
            <%= form.label "Context (#{@conversation.documents.count})", style: "display: block" %>
          </summary>
          <% if @conversation.user&.documents.present? %>
            <div id='sources' class='list'>
              <%= form.collection_check_boxes :document_ids, @conversation.user.documents.order(:title), :id, :title, { hide_label: true } do |item| %>
                <div class='list-item'>
                  <%= item.check_box onchange: "this.form.submit();", class: 'checkbox' %>
                  <%= item.label %>
                </div>
              <% end %>
            </div>
          <% end %>
        </details>
        <div class='header'>
          <%= form.label 'Voice', style: "display: block" %>
          <% if @conversation.user.voices.present? %>
            <%= form.collection_select :voice_id, @conversation.user.voices.order(:name), :id, :name, include_blank: "None selected", selected: @conversation.voice.try(:id) %>
          <% end %>
          <%= link_to "manage voices", voices_path %>
        </div>
      </div>
      <%= form.submit style: 'display:none;' %>
    <% end %>
  </div>
<% end %>
