
<div id='view-header'>
  <h1><%= @conversation.title %></h1>
  <%= link_to "edit", edit_conversation_path %>
</div>
<div id='conversation-documents'>
  <div id='conversation-documents-header'>
    Reference material:
  </div>
  <% @conversation.documents.each do |document| %>
    <div class='conversation-document'>
      <span class='bullet'>•</span> <%= link_to document.title, document %>
    </div>
  <% end %>
</div>
<div id='conversation'>
  <div id='messages'>
    <% @conversation.messages.each do |message| %>
      <div class='message <%= message.role %>'>
        <div class='content'>
          <%= message.content %>
          <% if message.partial_answers.present? %>
            <details>
              <summary>Partial answers:</summary>
              <% message.partial_answers.each do |answer| %>
                <p><%= answer %></p>
              <% end %>
            </details>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <%= form_with url: new_user_message_conversation_path do |f| %>
      <%= f.text_field (:content) %>
      <%= f.submit '➥', id: 'submit' %>
    <% end %>
</div>
