<%= turbo_stream_from @conversation.id, 'conversation_status' %>
<div id='view-header'>
  <h1><%= @conversation.title %></h1>
  <%= link_to "edit", edit_conversation_path %>
</div>
<div id='conversation'>
  <div id='conversation-settings'>
    <div class="conversation-setting left">
      <div id='conversation-setting-header'>
        Voices used:
      </div>
      <% @conversation.voices.each do |voice| %>
        <div class='conversation-setting'>
          <span class='bullet'>•</span> <%= link_to voice.name, edit_voice_path(voice) %>
        </div>
      <% end %>
    </div>
    <div class="conversation-setting right">
      <div id='conversation-setting-header'>
        Reference material:
      </div>
      <% @conversation.documents.each do |document| %>
        <div class='conversation-setting'>
          <span class='bullet'>•</span> <%= link_to document.title.present? ? document.title : document.name, document %>
        </div>
      <% end %>
    </div>
  </div>
  <div id='messages'>
    <% if @conversation.status == 1 %>
      <%= turbo_frame_tag 'conversation_status' do %>
        <div class='conversation-status'>
          <div class="conversation-hourglass"></div>
          <div class="conversation-loading-label">churning...</div>
        </div>
      <% end %>
    <% end %>
    <% @conversation.messages.order(:created_at).reverse.each do |message| %>
      <div class='message <%= message.role %>'>
        <div class='content'>
          <div class='main-message'>
            <div class='main-message-content'>
              <%= simple_format message.content %>
            </div>
            <%= button_to '␡', delete_message_conversation_path(message_id: message.id), method: :delete %>
          </div>
          <% if message.partial_answers.present? %>
            <details>
              <summary>Partial answers:</summary>
              <% message.partial_answers.each do |answer| %>
                <p><%= answer %></p>
              <% end %>
            </details>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <%= form_with url: new_user_message_conversation_path, id: 'new-message-form'  do |f| %>
      <%= f.text_field (:content) %>
      <%= f.submit '➥', id: 'submit' %>
    <% end %>
    <% if current_user.admin? %>
      <div class="request-counter">
        <p>
          <i>Requests in total:</i> <%= @conversation.total_requests %>
        </p>
        <p>
          <i>Requests on last query:</i> <%= @conversation.last_query_requests %>
        </p>
      </div>
    <% end %>
</div>