<p style="color: green"><%= notice %></p>

<%= render @conversation %>

<h2>Messages</h2>
<% @conversation.messages.each do |message| %>
  <p>
    <b><%= message.role %>:</b> <%= message.content %>
  </p>
<% end %>
<%= form_with url: add_user_message_conversation_path do |f| %>
  <%= f.text_field (:content) %>
  <%= f.submit %>
<% end %>

<div>
  <%= link_to "Edit this conversation", edit_conversation_path(@conversation) %> |
  <%= link_to "Back to conversations", conversations_path %>

  <%= button_to "Destroy this conversation", @conversation, method: :delete %>
</div>
