<%= turbo_stream_from 'monitoring' %>
<%= turbo_frame_tag 'monitoring' %>
<div class='view-content monitoring'>
  <div class='lists'>
    <ul>
      <h4>Token usage by user</h4>
      <h5>Total tokens used since 2023-07-12: <%= @total_tokens_used %></h5>
      <% @users.each do |user| %>
        <h4><%= user.email %>:</h4>
        <ul>
          <li>
            GPT-4: <%= user.conversations.pluck(:gpt_4_tokens_used).sum %> tokens
          </li>
          <li>
            GPT-3.5-turbo-16k: <%= user.conversations.pluck(:gpt_3_5_turbo_16k_tokens_used).sum %> tokens
          </li>
          <li>
            GPT-3.5-turbo: <%= user.conversations.pluck(:gpt_3_5_turbo_tokens_used).sum %> tokens
          </li>
          <li>
            In all: <%= user.tokens_used %> tokens
          </li>
        </ul>
      <% end %>
    </ul>
    <ul>
      <h4>Messages</h4>
      <% @message_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>Registrations</h4>
      <% @registration_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>Sign-ins</h4>
      <% @sign_in_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>Records created</h4>
      <% @create_record_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>All</h4>
      <% @monitoring_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
  </div>
</div>
