<%= turbo_stream_from 'monitoring' %>
<%= turbo_frame_tag 'monitoring' %>
<div class='view-content monitoring'>
  <div class='lists'>
    <ul>
      <h4>Token usage by user</h4>
      <h5>Total tokens used since 2023-07-12: <%= @total_tokens_used %></h5>
      <% @users.each do |user| %>
        <h4><%= user.email %>:</h4>
        <li>
          <div>
            <h6>GPT-4:</h6>
            <p>
              <b>Input: </b><%= user.usage_records.pluck(:gpt_4_input_tokens).compact.sum %> tokens ($0.03 each)
            </p>
            <p>
              <b>Output: </b><%= user.usage_records.pluck(:gpt_4_output_tokens).compact.sum %> tokens ($0.06 each)
            </p>
          </div>
          <div>
            <h6>
              GPT-3.5-turbo-16k:
            </h6>
            <p>
              <b>Input: </b><%= user.usage_records.pluck(:gpt_3_5_turbo_16k_input_tokens).compact.sum %> tokens ($0.003 each)
            </p>
            <p>
              <b>Output: </b><%= user.usage_records.pluck(:gpt_3_5_turbo_16k_output_tokens).compact.sum %> tokens ($0.004 each)
            </p>
          </div>
          <div>
            <h6>
              GPT-3.5-turbo:
            </h6>
            <p>
              <b>Input: </b><%= user.usage_records.pluck(:gpt_3_5_turbo_input_tokens).compact.sum %> tokens ($0.0015 each)
            </p>
            <p>
              <b>Output: </b><%= user.usage_records.pluck(:gpt_3_5_turbo_output_tokens).compact.sum %> tokens  ($0.002 each)
            </p>
          </div>
        </li>
      <% end %>
    </ul>
    <ul>
      <h4>Messages</h4>
      <% @message_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>Registrations</h4>
      <% @registration_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>Sign-ins</h4>
      <% @sign_in_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>Records created</h4>
      <% @create_record_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
    <ul>
      <h4>All</h4>
      <% @monitoring_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </ul>
  </div>
</div>
