
<%= link_to "home", home_index_path %>

<%= link_to "documents", documents_path %>

<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <ul>
    <% @users.each do |user| %>
      <li><%= user.username %></li>
      <%= link_to user.username, user %>
    <% end %>
  </ul>
<%
=begin%>
 
<%= link_to "New document", new_document_path %> 
<%
=end%>
