<div class='view-header'>
  <h1><%= @user.email %></h1>
  <%= link_to '✍︎', edit_user_path(@user) %>
</div>
<div class='view-content'>
  <div class='show-record'>
    <%= render @user %>
    <h4>Sources</h4>

    <% @sources.each do |source| %>
      <p>
        <%= link_to source.title.present? ? source.title : source.name, source %>
      </p>
    <% end %>

    <h4>Conversations</h4>
    <% @conversations.each do |conversation| %>
      <p>
        <%= link_to conversation.title.present? ? conversation.title : "Conversation with id #{conversation.id}", conversation %>
      </p>
    <% end %>
        <h4>Voices</h4>
    <% @user.voices.each do |voice| %>
      <p>
        <%= link_to voice.name, edit_voice_path(voice) %>
      </p>
    <% end %>
  </div>
</div>







