
<%= link_to "home", home_index_path %>

<%= link_to "documents", documents_path %>

<%= link_to "users", users_path %>

<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="user">
    <%= @user.username %>
</div>