<div class='record-form'>
  <%= form_with(model: voice) do |form| %>
    <% if voice.errors.any? %>
      <div class='validation'>
        <div class='message'>
          <%= pluralize(voice.errors.count, "error") %> prohibited this voice from being saved:
        </div>
        <div class='errors'>
          <% voice.errors.each do |error| %>
            <div class='error'><span class='bullet'>• </span><%= error.full_message %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class='field'>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <% if current_user.admin? %>
      <div class='field'>
        <%= form.label :user_id, style: "display: block" %>
        <%= form.collection_select :user_id, User.all, :id, :email, { selected: action_name == 'new' ? current_user.id : voice.user_id } %>
      </div>
    <% else %>
      <div class='field' style='display: none;'>
        <%= form.label :user_id, style: "display: block" %>
        <%= form.text_field :user_id, value: current_user.id, readonly: cannot?(:manage, User) %>
      </div>
    <% end %>


    <div class='field'>
      <%= form.label :meta_prompt, style: "display: block" %>
      <%= form.text_area :meta_prompt %>
    </div>

    <% if Conversation.accessible_by(current_ability).any? %>
      <div class='checkbox-field'>
        <%= form.label 'Conversations', style: "display: block" %>
        <%= form.collection_check_boxes :conversation_ids, Conversation.accessible_by(current_ability), :id, :title, { hide_label: true } do |item| %>
          <div class='item'>
            <%= item.check_box %>
            <%= item.label %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

