<div class='record-info'>
  <div class='field'>
    <label>Title:</label>
    <%= document.title %>
  </div>
  <div class='field'>
    <label>Author:</label>
    <%= document.author %>
  </div>
  <div class='field'>
    <label>Year published:</label>
    <%= document.year_published %>
  </div>
  <div class='field'>
    <label>Section headers:</label>
    <%= document.section_headers.join(', ') %>
  </div>
  <div class='field'>
    <label>File:</label>
    <% if document.file.attached? %>
      <%= link_to document.file.filename, rails_blob_path(document.file, disposition: 'attachment') %>
    <% else %>
      None attached
    <% end %>
  </div>
  <div class='field'>
    <label>User:</label>
    <%= document.user_id %>
  </div>
</div>
