<div id='view-header'>
  <h1>Documents</h1>
  <%= link_to "+", new_document_path %>
</div>
<div id='view-content'>
  <div id="index-list">
    <% if current_user.admin? %>
      <div id='index-separator'>My documents</div id='index-separator'>
    <% end %>
    <% current_user.documents.each do |document| %>
      <% if can? :manage, document %>
        <div id='index-list-item'>
          <%= link_to document.name.present? ? document.name : (document.title || "Document ID: #{document.id}"), document %>
          <div class="controls">
            <%= link_to "✍︎", edit_document_path(document) %>
            <%= button_to "␡", document, method: :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if current_user.admin? %>
    <div id="index-list">
      <% @users.each do |user| %>
        <div id='index-separator'><%= user.email %></div id='index-separator'>
        <% user.documents.each do |document| %>
          <div id='index-list-item'>
            <%= link_to document.name, document %>
            <div class="controls">
              <%= link_to "✍︎", edit_document_path(document) %>
              <%= button_to "␡", document, method: :delete %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
