<div class='view-header'>
  <h1>Documents</h1>
  <%= link_to "+", new_document_path %>
</div>
<div class='view-content'>
  <% if current_user.admin? %>
    <div class='index-separator'>My documents</div class='index-separator'>
  <% end %>
  <ul class="index-list">
    <% current_user.documents.each do |document| %>
      <% if can? :manage, document %>
        <li class='index-list-item'>
          <%= link_to document.title, edit_document_path(document) %>
          <div class="controls">
            <%= link_to "✍︎", edit_document_path(document) %>
            <%= button_to "␡", document, method: :delete %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if current_user.admin? %>
    <% @users.each do |user| %>
      <div class='index-separator'><%= user.email %></div class='index-separator'>
      <ul class="index-list">
        <% user.documents.each do |document| %>
          <li class='index-list-item'>
            <%= link_to document.title, edit_document_path(document) %>
            <div class="controls">
              <%= link_to "✍︎", edit_document_path(document) %>
              <%= button_to "␡", document, method: :delete %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
