<div id='view-header'>
  <h1><%= @document.title %></h1>
  <%= link_to "edit", edit_document_path(@document) %>
</div>
<div id='view-content'>
  <div class='show-document'>
    <%= render @document %>
    <% if @document.document_chunks.count > 1 %>
      <h3>Chunks</h3>
      <% @document.document_chunks.each do |chunk| %>
        <div class='chunk'>
          <details>
            <summary>
              <%= chunk.section_header.strip %>
            </summary>
            <p>
              <%= chunk.content %>
            </p>
          </details>
        </div>
      <% end %>
    <% else %>
    <div class='chunk'>
      <p>
        <%= @document.document_chunks.first.content %>
      </p>
    </div>
    <% end %>
  </div>
</div>


