<%= turbo_stream_from @document.id, 'chunking_status' %>
<div id='view-header'>
  <h1><%= @document.title %></h1>
  <%= link_to "edit metadata", edit_document_path(@document) %>
</div>
<div id='view-content'>
  <div class='show-record'>
    <%= render @document %>
    <% if @document.document_chunks.count > 1 %>
      <h3>Chunks</h3>
      <% @document.document_chunks.each do |chunk| %>
        <div class='chunk'>
          <details>
            <summary>
              <%= "Chunk #{chunk.ordinal_number + 1}: #{chunk.section_header.strip}" %>
            </summary>
            <p>
              <%= chunk.content %>
            </p>
          </details>
        </div>
      <% end %>
    <% elsif @document.document_chunks.count == 1 %>
    <div class='chunk'>
      <p>
        <%= @document.document_chunks.first.content %>
      </p>
    </div>
    <% elsif @document.document_chunks.count == 0 %>
      <%= turbo_frame_tag 'chunking_status' do %>
        <div class='chunking-status-notice'>
          <div class="lds-hourglass"></div>
          <p><i>processing your document...</i></p>
          <p>if you experience a delay of more than a few seconds, try reloading the page</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
