<%= turbo_frame_tag 'projects' %>
<div class='view-header'>
  <h1>Projects</h1>
  <%= link_to "+", new_project_path %>
</div>
<div class='view-content'>
  <% if current_user.admin? %>
    <div class='index-separator'>My projects</div class='index-separator'>
  <% end %>
  <ul class="index-list">
    <% current_user.projects.each do |project| %>
      <% if can? :manage, project %>
          <li class='index-list-item'>
            <%= link_to root_path(project_id: project.id) do %>
              <div class='title'><%= project.title %></div>
            <% end %>
            <div class="controls">
              <%= button_to "␡", project, method: :delete %>
            </div>
          </li>
      <% end %>
    <% end %>
  </ul>
  <% if current_user.admin? %>
    <% @users.each do |user| %>
      <div class='index-separator'><%= user.email %></div class='index-separator'>
      <ul class="index-list">
        <% user.projects.each do |project| %>
          <li class='index-list-item'>
            <%= link_to project.title, root_path(project_id: project.id) %>
            <div class="controls">
              <%= link_to "✍︎", root_path(project_id: project.id) %>
              <%= button_to "␡", project, method: :delete %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
