<script>
  function showNewOptions() {
    const options = document.getElementsByClassName('options')[0];
    const button = document.getElementById('new-button');
    options.style.display = 'flex';
    button.addEventListener('click', hideOptions)
    document.body.addEventListener('click', function(e) {
      if (options.contains(e.target) || button.contains(e.target)) {
        // hideOptions();
      } else {
        hideOptions();
      }
    })
  }
  function hideOptions() {
    const options = document.getElementsByClassName('options')[0];
    const button = document.getElementById('new-button');
    button.removeEventListener('click', hideOptions)
    button.addEventListener('click', showNewOptions)
    options.style.display = 'none';
  }
</script>
<div class="new">
  <div class="button" onClick="showNewOptions();" id="new-button">
    <i class="fa-solid fa-wand-magic-sparkles fa-xs" style="color: #ffffff;"></i><span>Create</span>
  </div>
  <div class="options" style="display: none;">
    <%= link_to new_folder_path, data: { turbo_action: 'replace', turbo_frame: 'view_content' } do %>
      <i class="fa fa-folder-plus fa-fw"></i><span>New folder</span>
    <% end %>
    <%= link_to new_document_path, data: { turbo_action: 'replace', turbo_frame: '_top' } do %>
      <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i><span>New Wroom Doc</span>
    <% end %>
    <a href="#" onclick="document.getElementById('source-file-field').click(); return false;">
      <i class="fa fa-book fa-fw" aria-hidden="true"></i><span>Upload file</span>
    </a>
    <%= link_to manager_voices_path do %>
      <i class="fa-solid fa-robot fa-fw"></i><span>Create Persona</span>
    <% end %>
  </div>
</div>
<div style='display: none;'>
  <%= form_with(
    model: @new_source,
    data: {
      controller: 'form-redirect',
      action: 'turbo:submit-end->form-redirect#next'
    },
    html: { 
      id: 'source-form',
      onchange: 'document.getElementById("bean-eater").style.display = "flex"; document.getElementById("source-form").submit();'
    }
  ) do |form| %>
    <%= form.label :file %>
    <%= form.file_field :file, id: 'source-file-field' %>
    <%= form.text_field :user_id, value: current_user.id, readonly: cannot?(:manage, User) %>
  <% end %>
</div>