<%= turbo_frame_tag "view_content" do %>
  <%#= TODO: Some of this view is repeated in app/views/devise/registrations/edit.html.erb %>
  <%#= TODO: Create a separate settings view to refactor this %>
  <div id='account-control'>
    <%= render 'settings/settings_links' %>
    <div id='account-control-content'>
      <div id="header">
        <h3>Subscriptions & Billing</h3>
      </div>
      <% current_subscription = @current_subscription if @current_subscription %>
        <%= render 'plan', current: true, plan: current_subscription.plan %>
      <% unless current_user.active_plan == 'pro' %>
        <h4>Also available</h4>
        <%= render 'plans' %>
      <% end %>
      <%= render 'settings/referral_codes' %>
  </div>
<% end %>