<header>
  <%= link_to root_path do %>
    <div id='logo'>
      <span id="back">back to </span><span id='wroom'>WROOM</span><span id='ai'>.ai</span>
    </div>
  <% end %>
  <nav>
    <% if can? :manage, User %>
      <div class="link-wrapper">
        <%= link_to "Monitoring", monitoring_path %>
      </div>
      <div class="link-wrapper">
        <%= link_to "Users", users_path %>
      </div>
      <div class="link-wrapper">
        <%= link_to "Conversations", conversations_path %>
      </div>
      <div class="link-wrapper">
        <%= link_to "Projects", documents_path %>
      </div>
    <% end %>
    <% if can? :manage, Source %>
      <div class="link-wrapper">
        <%= link_to "Sources", sources_path %>
      </div>
    <% end %>
    <% if can? :manage, Document %>

    <% end %>
    <% if can? :manage, Voice %>
      <div class="link-wrapper">
        <%= link_to "Voices", voices_path %>
      </div>
    <% end %>
    <% if current_user %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</header>
