<header>
  <%= link_to root_path do %>
    <div id='left-aligned'>
      <span id='wroom'>WROOM</span>
      <p id='dashboard'>Dashboard</p>
    </div>
  <% end %>
  <nav>
    <% if can? :manage, User %>
      <div class="link-wrapper">
        <%= link_to "Monitoring", monitoring_path %>
      </div>
    <% end %>
    <% if can? :manage, Voice %>
      <div class="link-wrapper">
        <%= link_to "Voices", voices_path %>
      </div>
    <% end %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'sign-out' %>
    <p id='current-user'><%= current_user.email %></p>
  </nav>
</header>
