<script>
  function toggleNewOptions() {
    const options = document.getElementsByClassName('options')[0];
    const outside = document.getElementsByClassName('outside')[0];
    options.style.display = 'flex';
    outside.style.display = 'block';
    outside.addEventListener('click', (e) => {
      options.style.display = 'none';
      outside.style.display = 'none';
    })
  }
</script>
<script>
  function displayChildren(id) {
    const children = document.getElementById(id).children[1]
    if (children.style.display == 'flex')
      children.style.display = 'none';
    else
    children.style.display = 'flex';
  }
</script>
<%= turbo_stream_from current_user.id, "sidebar_explorer" %>
<div id='sidebar-background'>
  <div id='sidebar'>
    <div id='bean-eater'>
      <div class="loadingio-spinner-bean-eater-4k29kf1xktb"><div class="ldio-xu0dy137sm">
      <div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
      </div></div>
    </div>
    <div id='wroom-logo'>
      <%= link_to dashboard_path do %>
        <%= show_svg('logo.svg') %>
      <% end %>
    </div>
    <%= render 'wroom/new_button' %>
    <div id='folder-tree'>
      <div id='sidebar-folders'>
        <%= render 'folders/tree_folder', folder: root_folder %>
      </div>
      <% if can? :manage, Voice %>
        <div class="link-wrapper">
          <%= link_to manager_voices_path, data: { turbo_action: 'replace', turbo_frame: 'view_content' } do %>
            <i class="fa-solid fa-robot fa-fw"></i>Personas
          <% end %>
        </div>
      <% end %>
      <div class="link-wrapper">
        <%= link_to recycle_bin_folders_path, data: { turbo_action: 'replace', turbo_frame: 'view_content' }, class: 'trash-link'  do %>
          <i class="fa-solid fa-trash fa-fw"></i>Trash
        <% end %>
      </div>
      <div class="link-wrapper">
        <%= link_to edit_user_registration_path, data: { turbo_action: 'replace', turbo_frame: 'view_content' }, class: 'settings-link' do %>
          <i class="fa-solid fa-gear fa-fw"></i></i>Settings
        <% end %>
      </div>
      <div class="link-wrapper">
        <%= link_to 'https://discord.gg/hf7zzNyJuD', target: :_blank do %>
          <i class="fa-solid fa-circle-question fa-fw"></i>Support
        <% end %>
      </div>
    </div>
    <%= render 'conversations/gpt_cost_limit', user: current_user %>
    <%= render 'documents/storage_limit', user: current_user %>
    <% unless current_user.subscription.plan == 'pro' %>
      <%= link_to 'Upgrade Account', billing_path, data: { turbo_action: 'replace' }, id: 'upgrade-plan' %>
    <% end %>

    <% if can? :manage, User %>
      <div class="link-wrapper">
        <%= link_to "Monitoring", monitoring_path, data: { turbo_action: 'replace', turbo_frame: 'view_content' } %>
      </div>
    <% end %>
  <% if can? :manage, User %>
      <div class="link-wrapper">
        <%= link_to "GPT-4", toggle_gpt_4_user_path(current_user), class: "gpt-4-toggle #{current_user.gpt_4_enabled ? "on" : "off"}" %>
      </div>
    <% end %>
    <div id='account-links'>
      <p id='current-user'><%= current_user.email %></p>
    </div>
  </div>
</div>