<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>wroom.ai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e6e7e3aa11.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('wroom-favicon.png') %>
  </head>
  <script>
    function setBodyDimensions () {
      const viewportWidth = window.innerWidth || document.documentElement.clientWidth;
      const viewportHeight = window.innerHeight || document.documentElement.clientHeight;
      document.body.style.height = `${viewportHeight}px`;
      document.body.style.width = `${viewportWidth}px`;
    }
    window.addEventListener('DOMContentLoaded', () => {
      setBodyDimensions();
      addEventListener('resize', setBodyDimensions, true)
    });
  </script>
  <body id='dashboard'>
    <main>
      <%= render 'layouts/flash_messages' %>
      <%= render 'layouts/sidebar', root_folder: @root_folder %>
      <div id='content-background'>
        <div id='content'>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
